<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="apitst" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\arjun\AppData\Local\Programs\Python\Python310\python.exe|C:\Users\arjun\AppData\Local\Programs\Python\Python310\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="notiApiprj.settings" />
        <add key="PYTHONPATH" value="C:\CodeTest\DRF\notiAPI" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
